{% extends 'layout.html.twig' %}

{% block content %}
   <form method="post" action="{{ route('category-costs.store') }}">
    <label class="control-label">Nome</label>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Nome" name="name">
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>
</form>    
{% endblock %}